.card_holder {
  box-sizing: border-box;
  display: "flex";
  justify-content: "center";
}

.card_wrapper:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.buyBtn:hover {
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-in-out;
}

.buyBtn {
  width: 80%;
}